* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    /* transform: scale(1.1); to zoom the entire body */
}


/* .main {
    display: grid;
    grid-template-columns: [left1] 100px [left2] 100px [center] auto [right1] 100px [right2] 100px [end];
    /* grid-template-rows: [row1] auto [row2] auto [row3] auto [end];
    grid-column-gap: 1em;
    grid-row-gap: 1em; */

.main {
    display: flex;
    background-color: #cdcdce49;
    /* filter: blur(8px);   used to blur background image */
    height: 755px;
}

.main-h {
    width: 35%;
    /* filter: blur(5px); */
    margin-top: 200px;
    margin-left: 250px;
}

.main-h h1 {
    font-size: 65px;
    font-weight: 1000;
    color: #1877f2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-h p {
    font-size: 27px;
    margin-top: 10px;
}

.form {
    margin-left: 80px;
}

.form form {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.123);
    padding: 20px;
    background-color: white;
    margin-top: 130px;
    border-radius: 7px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.356);
}

form input {
    padding: 15px;
    width: 360px;
    margin: 5px;
    font-size: 17px;
    border-radius: 5px;
    border: .5px solid #5151523a;
    outline: none;
}

form input:focus {
    border: 1px solid #1877f2;
}

form button {
    padding: 14px 150px;
    font-size: 20px;
    margin-left: 6px;
    margin-top: 8px;
    background-color: #1877f2;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    border: none;
    margin-bottom: 20px;
}

form a {
    margin-left: 120px;
    text-decoration: none;
}

form hr {
    margin: 20px auto;
    border: none;
    background-color: #9f9fa050;
    height: 1px;
}

.form .create {
    margin: 30px;
}

form .create a {
    margin-left: 67px;
    padding: 11px 20px;
    background-color: rgba(30, 172, 30, 0.849);
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

form .for a {
    text-decoration: none;
    font-size: 14px;
    color: #1877f2;
}

.form p {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.form span {
    color: red;
    font-size: 15px;
    /* display: none;    */
}


/* 
#password {
    border: 2px solid green;
} */